.page {
  display: flex;
  flex-flow: column nowrap;
  align-items: flex-start;
  min-height: 100vh;
  padding: 2rem 2rem 0.5rem;
  max-width: 65ch;
  margin: 0 auto;
}

.page-header {
  flex: 0 0 auto;
  margin-bottom: 2.5rem;
}

.page-footer {
  flex: 0 0 auto;
}

.page-content {
  flex: 1 1 auto;
}

.page-title {
  font-size: 2rem;
}

.page_error {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2rem;
  height: 100%;
  text-align: center;
}

.page_error-icon {
  margin-bottom: 1rem;
}

.page_error-text {
  margin-bottom : 0.5rem;
}