.headline {
  display: inline-block;
  line-height: 1.375;

  font-size: 1.5rem;
  padding: 0 0.25em;

  text-align: center;
  background: var(--color);
  color: var(--background-color);
}

.headline.xs {
  font-size: 1rem;
}

.headline.bare {
  color: var(--color);
  background: none;
}

@media screen and (min-width: 45rem) {
  .headline {
    font-size: 1.5rem;
  }

  .headline.xs {
    font-size: 1rem;
  }

  .headline.sm {
    font-size: 1.5rem;
  }

  .headline.lg {
    font-size: 2rem;
  }
}

@media screen and (min-width: 62.5rem) {
  .headline {
    font-size: 2rem;
  }

  .headline.xs {
    font-size: 1rem;
  }

  .headline.sm {
    font-size: 1.5rem;
  }

  .headline.lg {
    font-size: 2.5rem;
    padding: 0 0.5em;
  }
}
