.header {
  display: flex;
  justify-content: space-between;
  flex-flow: row wrap;
  align-items: center;
  padding: 0 1rem;
  margin-bottom: 0.25rem;
  line-height: 1;
}

.header-content {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 1rem;
}

.header-nav {
  font-size: 0.75rem;
}

.header-nav > *:not(:last-child) {
  margin-right: 0.5rem;
}

.header-title {
  display: flex;
  justify-content: flex-start;
  flex-flow: row wrap;
  align-items: baseline;
  font-size: 1.125rem;
  width: 100%;
}

.header-actions {
  width: 100%;
  justify-content: center;
}

.header-stakker {
  font-size: 1rem;
  font-weight: 400;
  font-style: italic;
}

.header-stakker a {
  text-decoration: underline;
  text-decoration-skip-ink: all;
}

@media screen and (min-width: 45rem) {
  .header-actions {
    width: auto;
  }

  .header-content {
    width: auto;
    margin: 0;
  }

  .header-title {
    font-size: 1.375rem;
  }
}