.stack {
  flex: 1 1 auto;
  position: relative;
  width: 100%;
  min-height: calc(var(--item-height) / 2.5);
  margin-top: calc(var(--item-count) * var(--item-offset));
  margin-bottom: 1em;
}

.stack-item-outer {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.stack-item-inner {
  will-change: transform;
  margin: 0;
  user-select: none;
  cursor: move; /* fallback if grab cursor is unsupported */
  cursor: grab;
  cursor: -moz-grab;
  cursor: -webkit-grab;
  aspect-ratio: 1 / 1;
  height: 100%;
  max-height: min(var(--item-height), 80vw);
  min-height: min(calc(var(--item-height) / 3), 100%);
}

.stack-item-inner {
  touch-action: none;
}
