.stack {
  --stack-size: calc(var(--item-height) + var(--item-count) * var(--item-offset));

  position: relative;
  min-height: calc(var(--stack-size) / 2.5);
  height: min(var(--stack-size), calc(100% - 2rem));
  max-width: 80%;
  aspect-ratio: 1 / 1;
  margin-bottom: 1rem;
  margin-top: calc(var(--item-count) * var(--item-offset));
}

.stack-item-outer {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
}

.stack-item-inner {
  will-change: transform;
  margin: 0;
  user-select: none;
  cursor: move; /* fallback if grab cursor is unsupported */
  cursor: grab;
  cursor: -moz-grab;
  cursor: -webkit-grab;
}

.stack-item-inner img {
  touch-action: none;
}
