.editoritems-listing {
  padding: 0;
  margin: 0;
}

.editoritems-add {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
}

.editoritems-add-spinner {
margin-left: 0.5rem;
}

.editoritem {
  list-style: none;
  padding: 0.5rem 0.75rem;
  border: 1px solid var(--color);
  margin-bottom: 1rem;

  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  background: var(--background-color);
  user-select: none;
}

.editoritem-actions * {
  touch-action: none;
}

.editoritem-handle {
  color: #888;
}

.editoritem.dragging {
  box-shadow: 5px 10px 10px rgba(0, 0, 0, 0.25);
}

[aria-pressed="true"] .editoritem {
  opacity: 0.5;
}

[aria-pressed="true"] .editoritem-actions {
  visibility: hidden;
}
