.footer {
  display: flex;
  justify-content: flex-start;
  font-size: 0.75rem;
  padding: 0 1rem;
  margin-bottom: 0.5rem;
}

.footer > *:not(:last-child),
.footer-nav > *:not(:last-child) {
  margin-right: 0.5rem;
}
