.stack {
  flex: 1 1 auto;
  position: relative;
  width: 100%;
  min-height: calc(var(--item-height) / 2.5);
  margin-top: calc(var(--item-count) * var(--item-offset));
  margin-bottom: 1em;
}

.stack-item-outer {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.stack-item-inner {
  will-change: transform;
  margin: 0;
  user-select: none;
  cursor: move; /* fallback if grab cursor is unsupported */
  cursor: grab;
  cursor: -moz-grab;
  cursor: -webkit-grab;
  aspect-ratio: 1 / 1;
  height: 100%;
  max-height: min(var(--item-height), 80vw);
  min-height: min(calc(var(--item-height) / 3), 100%);
}

.stack-item-inner {
  touch-action: none;
}

.stack-instructions {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  max-width: calc(var(--item-height) / 2.5);
  z-index: -1;
  animation: instructions ease-out 0.35s both;
}

.stack-instructions-icon {
  margin-bottom: 1rem;
  animation: instructions-icon ease-out 0.35s both;
}

.stack-drag-indicator {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -1.5rem;
  margin-left: -1.5rem;
  animation-name: drag-indicator;
  animation-duration: 8s;
  animation-delay: 5s;
  animation-fill-mode: both;
  animation-iteration-count: 2;
  pointer-events: none;
  color: #fff;
  filter: drop-shadow(0 0 0.25rem rgba(0, 0, 0, 0.7));
}

@keyframes drag-indicator {
  0% {
    opacity: 0;
    transform: translateX(0);
  }

  20% {
    opacity: 1;
    transform: translateX(8rem);
  }

  30% {
    opacity: 0;
    transform: translateX(8rem);
  }

  100% {
    opacity: 0;
    transform: translateX(8rem);
  }
}

@keyframes instructions {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes instructions-icon {
  0% {
    transform: rotate(180deg);
  }

  100% {
    transform: rotate(0);
  }
}